@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('../Fonts/HelveticaNeueCyr-Bold.eot');
  src: url('../Fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyrLightItalic';
  src: url('../Fonts/HelveticaNeueCyr-LightItalic.eot');
  src: url('../Fonts/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-LightItalic.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-LightItalic.svg#HelveticaNeueCyr-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyrUltraLight';
  src: url('../Fonts/HelveticaNeueCyr-UltraLight.eot');
  src: url('../Fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-UltraLight.svg#HelveticaNeueCyr-UltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: '../Fonts/HelveticaNeueCyrBoldItalic';
  src: url('../Fonts/HelveticaNeueCyr-BoldItalic.eot');
  src: url('../Fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-BoldItalic.svg#HelveticaNeueCyr-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyrBlack';
  src: url('../Fonts/HelveticaNeueCyr-Black.eot');
  src: url('../Fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-Black.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-Black.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: url('../Fonts/HelveticaNeueCyr-Light.eot');
  src: url('../Fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-Light.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-Light.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyrBlackItalic';
  src: url('../Fonts/HelveticaNeueCyr-BlackItalic.eot');
  src: url('../Fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-BlackItalic.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-BlackItalic.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-BlackItalic.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-BlackItalic.svg#HelveticaNeueCyr-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyrMedium';
  src: url('../Fonts/HelveticaNeueCyr-Medium.eot');
  src: url('../Fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyrThinItalic';
  src: url('../Fonts/HelveticaNeueCyr-ThinItalic.eot');
  src: url('../Fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-ThinItalic.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-ThinItalic.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-ThinItalic.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-ThinItalic.svg#HelveticaNeueCyr-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyrThin';
  src: url('../Fonts/HelveticaNeueCyr-Thin.eot');
  src: url('../Fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyrRoman';
  src: url('../Fonts/HelveticaNeueCyr-Roman.eot');
  src: url('../Fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyrItalic';
  src: url('../Fonts/HelveticaNeueCyr-Italic.eot');
  src: url('../Fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-Italic.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-Italic.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-Italic.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-Italic.svg#HelveticaNeueCyr-Italic') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyrUltraLightItalic';
  src: url('../Fonts/HelveticaNeueCyr-UltraLightItalic.eot');
  src: url('../Fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'), url('../Fonts/HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'), url('../Fonts/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'), url('../Fonts/HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype'), url('../Fonts/HelveticaNeueCyr-UltraLightItalic.svg#HelveticaNeueCyr-UltraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}
/* MAIN */
.main {
  user-select: none;
  font-family: 'HelveticaNeueCyrMedium', sans-serif;
  background: #ffffff url(../img/bg-head.jpg);
  height: 700px;
  padding: 0.6rem 0 0rem;
  background-size: cover;
}
.main .vr-box {
  margin-top: 3rem;
}
.main .btn {
  color: white;
  text-decoration-color: #ffffff;
  padding: 15px 30px;
  background-color: #94ca2d;
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  font-size: 18px;
}
.main .mid-img {
  padding-top: 2rem;
}
.main .mid h1 {
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  font-size: 39px;
  color: #ffffff;
  padding-top: 80px;
}
.main .mid p {
  padding: 0;
  font-size: 30px;
}
.main .logo {
  padding-top: 5px;
}
.main .head-tel {
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  color: #ffffff;
  font-size: 25px;
}
.main .link-call {
  padding-left: 20px;
  color: #94ca2d;
  text-align: center;
}
.main p {
  color: #ffffff;
  padding-left: 1.5rem;
  font-size: 20px;
}
/* main */
.box-block {
  position: absolute;
  opacity: 50%;
  background-color: black;
  height: 85px;
  width: 100%;
}
/* lending */
.lending {
  background-color: #F8F8F0;
  font-family: 'HelveticaNeueCyrMedium', sans-serif;
}
.lending .left li {
  min-height: 32px;
}
.lending-box-right p,
.lending-box-right h4 {
  text-align: right;
  padding-right: 2rem;
}
.lending .btn {
  margin-top: 2rem;
  text-transform: uppercase;
  color: white;
  text-decoration-color: #ffffff;
  padding: 15px 30px;
  background-color: #94ca2d;
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  font-size: 18px;
}
.lending ul {
  font-size: 17px;
  padding: 0;
  margin-top: 2rem;
  list-style-type: none;
}
.lending ul p {
  font-size: 20px;
}
.lending ul p strong {
  color: #b61919;
}
.lending .vr-box img {
  width: 470px;
  height: 270px;
  position: absolute;
}
.lending .text-mid {
  font-size: 17px;
  padding-top: 2rem;
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
}
.lending h2 {
  font-family: 'HelveticaNeueCyrBlack', sans-serif;
  font-size: 35px;
  padding-top: 50px;
}
.lending .pult-text {
  margin-top: 6rem;
  padding-left: 10rem;
}
.lending .pult-text h4 {
  text-align: center;
}
.lending .pult-text p {
  text-align: center;
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
  font-size: 17px;
}
/* lending */
/* potential */
.potential .container {
  padding-bottom: 3rem;
}
.potential .container .snow {
  padding-top: 3rem;
}
.potential .container .shark {
  text-align: right;
  padding-left: 3rem;
}
.potential .container .left-text {
  margin-top: 6rem;
}
.potential .container .left-text img {
  width: 50px;
  height: 50px;
}
.potential .container .left-text h4 {
  margin-left: 1rem;
  font-family: 'HelveticaNeueCyrMedium', sans-serif;
  font-size: 20px;
}
.potential .container .left-text p {
  margin-left: 4rem;
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
  font-size: 17px;
}
.potential .container .right-text {
  padding-top: 5rem;
}
.potential .container .right-text img {
  width: 50px;
  height: 50px;
}
.potential .container .right-text p {
  margin-left: 4rem;
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
  font-size: 17px;
}
.potential .container .right-text h4 {
  margin-left: 1rem;
  font-family: 'HelveticaNeueCyrMedium', sans-serif;
  font-size: 20px;
}
.potential .container .iron {
  height: 270px;
  padding-top: 2rem;
}
/* potential */
/* capture-shape */
.capture-shape {
  background: #ffffff url(../img/bg-shape.png) no-repeat;
  background-size: cover;
  height: 415px;
}
.capture-shape .btn {
  color: white;
  text-decoration-color: #ffffff;
  padding: 15px 30px;
  background-color: #94ca2d;
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  font-size: 18px;
}
.capture-shape .container h2 {
  margin-bottom: 2rem;
  font-family: 'HelveticaNeueCyrBlack', sans-serif;
  font-size: 35px;
  color: #ffffff;
  padding-top: 80px;
}
.capture-shape .container label {
  color: #ffffff;
}
.capture-shape .container .forma {
  float: right;
  margin-top: 1.5rem;
  border: 3px solid #21a3af;
  text-align: center;
  width: 380px;
  height: 328px;
  background-color: black;
}
.capture-shape .container .forma p {
  font-size: 13px;
  padding: 1rem;
  color: #ffffff;
}
.capture-shape .container .forma-input {
  border: solid 2px;
  color: #ffffff;
  background-color: black;
  width: 235px;
  margin: 0.2rem 0;
  padding: 0.5rem;
}
.capture-shape .container .forma h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 20px;
  color: #ffffff;
}
.capture-shape .container .btn {
  margin-top: 1rem;
}
.capture-shape .flag {
  border-radius: 200px 00px 200px 0px;
  -moz-border-radius: 0px 00px 00px 0px;
  -webkit-border-radius: 200px 00px 200px 0px;
  border: 0px solid #000000;
  width: 493px;
  height: 60px;
  background-color: #18A7D0;
}
.capture-shape .flag h4 {
  padding-top: 0.5rem;
  padding-left: 1.8rem;
  font-size: 18px;
  color: #ffffff;
}
.capture-shape .left-text {
  padding-top: 2rem;
  font-size: 15px;
  color: #ffffff;
}
.capture-shape .left-text img {
  margin-top: 0.5rem;
}
.capture-shape .left-text p {
  margin-left: 3rem;
}
.how-it-works {
  background: #ffffff url(../img/bg-how.png);
  height: 639px;
}
.how-it-works .circle-holder {
  position: relative;
  top: -20%;
}
.how-it-works .container .images {
  padding-top: 5rem;
}
.how-it-works .container .box {
  margin-top: 2.5rem;
}
.how-it-works .container p {
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
}
.how-it-works .container h2 {
  font-family: 'HelveticaNeueCyrBlack', sans-serif;
  font-size: 35px;
  padding-top: 4rem;
  margin-bottom: 0.6rem;
}
.how-it-works .container .line {
  position: relative;
  text-align: center;
}
.how-it-works .container .line::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 3rem;
  border-bottom: 4px solid #18A7D0;
  border-radius: 2px;
}
.how-it-works .container .selection-header {
  text-align: center;
}
.how-it-works .circle {
  display: inline-block;
  background-color: #18a7d0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.how-it-works .circle-border {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.2rem;
  border: 2px solid #18a7d0;
  border-radius: 50%;
  text-align: center;
  line-height: 2.8rem;
  color: #ffffff;
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  font-size: 1.9rem;
}
.video-content {
  background: url(../img/bg-vert.jpg) no-repeat;
  background-size: cover;
  height: 428px;
}
.video-content h2 {
  padding-top: 90px;
  color: #ffffff;
}
.video-content img {
  padding-top: 30px;
}
.video-content p {
  padding-top: 20px;
  font-family: 'HelveticaNeueCyrMedium', sans-serif;
  color: #ffffff;
  font-size: 22px;
}
.game-app h2 {
  font-size: 35px;
  padding-top: 90px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'HelveticaNeueCyrBlack', sans-serif;
}
.game-app .block {
  padding-top: 40px;
}
.game-app .img2 {
  padding-top: 25px;
}
.game-app .img1 {
  padding-top: 5px;
}
.game-app .btn {
  color: white;
  text-decoration-color: #ffffff;
  padding: 15px 30px;
  background-color: #94ca2d;
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  font-size: 18px;
}
.game-app .button {
  padding-top: 20px;
  padding-bottom: 80px;
}
.compatibility .mid {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.compatibility .mid .vr p {
  font-size: 20px;
  margin-left: 3rem;
}
.compatibility .mid .vr img {
  margin-left: 3rem;
  max-width: 90%;
}
.compatibility h2 {
  font-family: 'HelveticaNeueCyrBlack', sans-serif;
  padding-top: 2rem;
}
.compatibility p {
  padding-top: 0.5rem;
  font-family: 'HelveticaNeueCyrMedium', sans-serif;
  font-size: 22px;
}
.review {
  background-color: #f8f8f0;
}
.review .container {
  height: 999px;
}
.review .container h2 {
  font-family: 'HelveticaNeueCyrBlack', sans-serif;
  font-size: 35px;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 104px;
}
.review .container h3 {
  float: right;
  font-size: 18px;
  padding-top: 75px;
  padding-right: 175px;
}
.review .container img {
  padding-top: 27px;
  padding-left: 35px;
}
.review .container .border-box {
  margin-top: 6px;
  border-radius: 3px;
  border: 1px solid #3eb7b7;
  background-color: #ffffff;
}
.review .container .border-box p {
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
  padding-left: 40px;
  font-size: 17px;
  padding-right: 40px;
  line-height: 24px;
  padding-top: 15px;
}
.how-we-work {
  height: 532px;
}
.how-we-work h2 {
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  font-size: 35px;
  padding-top: 90px;
}
.how-we-work p {
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
  line-height: normal;
  font-size: 17px;
  padding-top: 13px;
}
.how-we-work .cont-11 {
  padding-top: 60px;
}
.img-5 {
  background: #ffffff url(../img/cont11/bgb.png) no-repeat;
  background-size: cover;
  height: 415px;
}
.quesion {
  padding-bottom: 40px;
}
.quesion h2 {
  padding-top: 57px;
  font-family: 'HelveticaNeueCyrBlack', sans-serif;
  font-size: 35px;
}
.quesion span {
  padding-bottom: 58px;
}
footer {
  /* Style for "Прямоуголь" */
  height: 85px;
  background-color: #000000;
}
footer img {
  padding-right: 10px;
  float: left;
  padding-top: 10px;
}
footer p {
  padding-top: 10px;
  color: #ffffff;
}
footer .head-tel {
  font-family: 'HelveticaNeueCyr-Bold', sans-serif;
  color: #ffffff;
  font-size: 25px;
}
footer .link-call {
  padding-left: 20px;
  color: #94ca2d;
  text-align: center;
}
@media (max-width: 1199px) {
  .capture-shape .flag h4 {
    font-size: 15px;
  }
  .review .container h3 {
    padding-right: 90px;
  }
}
/* media 1199 */
@media (max-width: 991px) {
  .main .mob-mid .head-tel {
    padding-left: 15px;
  }
  .main .logo {
    margin-top: 0rem;
  }
  .main .mid h1 {
    padding-top: 40px;
  }
  .lending .left1 p {
    margin-top: 7px;
  }
  .lending .left li {
    line-height: normal;
    min-height: 40px;
  }
  .lending .potential h4 {
    font-size: 2px;
  }
  .capture-shape .container h2 {
    font-size: 30px;
    padding-top: 3rem;
  }
  .capture-shape .forma {
    max-width: 100%;
  }
  .capture-shape .flag h4 {
    font-size: 12px;
  }
  .capture-shape .left-text {
    font-size: 10px;
  }
  .capture-shape .left-text p {
    margin-top: 0.4rem;
  }
  .potential .container .snow img {
    margin-top: 3rem;
  }
  .potential .container .game img {
    margin-top: 4rem;
  }
  .potential .container .shark img {
    margin-top: 4rem;
  }
  .how-it-works .container h2 {
    padding-top: 1rem;
  }
  .how-it-works .container .images {
    padding-top: 2rem;
  }
  .review {
    height: 1500px;
  }
  .review .container img {
    padding-left: 30%;
  }
  .review .container h3 {
    text-align: center;
    padding-top: 45px;
    padding-right: 70px;
    padding-bottom: 20px;
  }
}
/* media 991 */
@media (max-width: 768px) {
  .box-block {
    height: 110px;
  }
  .main {
    height: 670px;
    font-size: 12px;
  }
  .main .vr-box {
    margin-top: 5rem;
  }
  .main .dino {
    margin-top: 3rem;
  }
  .main .btn {
    margin-top: 1rem;
  }
  .main .mid-img {
    margin-top: 6rem;
  }
  .main .mid-img img {
    width: 250px;
    height: 140px;
  }
  .main .mob-mid .mob {
    text-align: center;
    display: inline-block;
  }
  .main .mob-mid .link-call {
    font-size: 14px;
  }
  .main .mob-mid .head-tel {
    line-height: 40px;
  }
  .main .mob-mid a,
  .main .mob-mid p {
    font-size: 16px;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  .main .mid h1,
  .main .mid p {
    font-size: 24px;
  }
  .main p,
  .main a {
    font-size: 12px;
  }
  .lending .container btn {
    text-align: center;
  }
  .capture-shape {
    background-position: center;
  }
  .capture-shape .container .flag h4 {
    font-size: 13px;
  }
  .potential .container .snow img {
    margin-top: 0rem;
  }
  .potential .container .game img {
    margin-top: 0rem;
  }
  .potential .container .shark img {
    margin-top: 4rem;
  }
  .how-it-works .box1 img {
    padding-left: 20px;
  }
  .footer p {
    margin-top: 10px;
    line-height: 20px;
    font-size: 13px;
  }
  .footer .tel {
    padding-top: 10px;
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  .compatibility h2 {
    font-size: 22px;
  }
  .box-block {
    height: 120px;
  }
  .main {
    height: 460px;
  }
  .main .container .dino {
    width: 291px;
    height: 166px;
  }
  .main .container h1 {
    margin: 0;
    font-size: 15px;
  }
  .main .container .mid p {
    font-size: 16px;
  }
  .main .container p {
    font-size: 12px;
    padding: 0;
  }
  .main .container .head-tel {
    font-size: 17px;
  }
  .main .container .link-call {
    font-size: 12px;
  }
  .main .container .btn {
    font-size: 12px;
  }
  .main .logo img {
    width: 53px;
    height: 26px;
  }
  .lending .container .text-mid p {
    white-space: nowrap;
  }
  .lending h2 {
    font-size: 22px;
  }
  .lending p {
    font-family: 'HelveticaNeueCyrRoman', sans-serif;
    line-height: normal;
    font-size: 11px;
  }
  .lending .btn {
    margin-left: 0px;
    font-size: 10px;
    font-family: 'HelveticaNeueCyrRoman', sans-serif;
  }
  .potential {
    font-size: 14px;
  }
  .potential .container .right-text {
    padding-top: 0px;
  }
  .potential .container .right-text h4 {
    font-size: 15px;
  }
  .potential .container .left-text {
    padding-top: 0px;
  }
  .potential .container .left-text h4 {
    font-size: 15px;
  }
  .capture-shape {
    height: 700px;
  }
  .capture-shape .container h2 {
    font-size: 22px;
  }
  .low {
    display: none;
  }
  .game-app .block {
    text-align: center;
  }
  .game-app .block h2 {
    font-size: 22px;
  }
  .game-app .block h3 {
    margin-top: 25px;
    font-size: 15px;
    text-align: left;
  }
  .game-app .block p {
    font-size: 12px;
    text-align: left;
  }
  .game-app .img-fluid {
    max-width: 50%;
  }
  .how-it-works .container img {
    /* Style for "Слой 26" */
    width: 108px;
    height: 87px;
  }
  .how-it-works .container p {
    font-family: 'HelveticaNeueCyrRoman', sans-serif;
    font-size: 12px;
  }
  .how-it-works .container .imagers .box2 {
    margin-top: 40px;
  }
  .review {
    height: 1350px;
  }
  .review .container h2 {
    padding: 30px 0;
    font-size: 22px;
  }
  .review .container .border-box img {
    padding: 0;
    width: 20%;
    margin-left: 23px;
    margin-top: 28px;
  }
  .review .container .border-box p {
    padding-right: 70px;
    line-height: normal;
    font-size: 12px;
  }
  .review .container .border-box h3 {
    text-align: left;
    padding: 0;
    padding-top: 35px;
    font-size: 16px;
    padding-right: 70px;
  }
  .how-we-work {
    height: 950px;
  }
  .how-we-work .container h2 {
    font-family: 'HelveticaNeueCyrBlack', sans-serif;
    font-size: 22px;
  }
  .how-we-work .container p {
    font-size: 12px;
  }
  .quesion .container h2 {
    font-size: 22px;
  }
  .footer {
    background: black;
    height: 200px;
  }
  .footer .tel {
    line-height: 40px;
    padding-left: 60px;
    align-items: center;
  }
  .footer p {
    font-size: 11px;
  }
  .footer .head-tel {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .compatibility h2 {
    font-size: 22px;
  }
  .box-block {
    height: 110px;
  }
  .main {
    height: 460px;
  }
  .main .container .dino {
    width: 291px;
    height: 166px;
  }
  .main .container h1 {
    margin: 0;
    font-size: 15px;
  }
  .main .container .mid p {
    font-size: 16px;
  }
  .main .container p {
    font-size: 12px;
    padding: 0;
  }
  .main .container .head-tel {
    font-size: 17px;
  }
  .main .container .link-call {
    font-size: 12px;
  }
  .main .container .btn {
    font-size: 12px;
  }
  .main .logo img {
    width: 53px;
    height: 26px;
  }
  .lending .container .text-mid p {
    white-space: nowrap;
  }
  .lending h2 {
    font-size: 22px;
  }
  .lending p {
    font-family: 'HelveticaNeueCyrRoman', sans-serif;
    line-height: normal;
    font-size: 11px;
  }
  .lending .btn {
    font-size: 10px;
    font-family: 'HelveticaNeueCyrRoman', sans-serif;
  }
  .potential {
    font-size: 14px;
  }
  .potential .container .right-text {
    padding-top: 0px;
  }
  .potential .container .right-text h4 {
    font-size: 15px;
  }
  .potential .container .left-text {
    padding-top: 0px;
  }
  .potential .container .left-text h4 {
    font-size: 15px;
  }
  .capture-shape {
    height: 700px;
  }
  .capture-shape .container h2 {
    font-size: 22px;
  }
  .low {
    display: none;
  }
  .game-app .block {
    text-align: center;
  }
  .game-app .block h2 {
    font-size: 22px;
  }
  .game-app .block h3 {
    margin-top: 25px;
    font-size: 15px;
    text-align: left;
  }
  .game-app .block p {
    font-size: 12px;
    text-align: left;
  }
  .game-app .img-fluid {
    max-width: 50%;
  }
  .how-it-works .container img {
    /* Style for "Слой 26" */
    width: 108px;
    height: 87px;
  }
  .how-it-works .container p {
    font-family: 'HelveticaNeueCyrRoman', sans-serif;
    font-size: 12px;
  }
  .how-it-works .container .imagers .box2 {
    margin-top: 40px;
  }
  .review {
    height: 1350px;
  }
  .review .container h2 {
    padding: 30px 0;
    font-size: 22px;
  }
  .review .container .border-box img {
    padding: 0;
    width: 20%;
    margin-left: 23px;
    margin-top: 28px;
  }
  .review .container .border-box p {
    line-height: normal;
    font-size: 12px;
  }
  .review .container .border-box h3 {
    text-align: left;
    padding: 0;
    padding-top: 35px;
    font-size: 16px;
    padding-right: 20px;
  }
  .how-we-work {
    height: 950px;
  }
  .how-we-work .container h2 {
    font-family: 'HelveticaNeueCyrBlack', sans-serif;
    font-size: 22px;
  }
  .how-we-work .container p {
    font-size: 12px;
  }
  .quesion .container h2 {
    font-size: 22px;
  }
  .footer {
    background: black;
    height: 200px;
  }
  .footer .tel {
    line-height: 40px;
    padding-left: 0px;
    text-align: center;
  }
  .footer p {
    font-size: 11px;
  }
}
